@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome To</h2>
    <p>Employee Management System</p>
</div>

<div class="text-left">
    <h5>Course Code CSD-4503</h5>
    <h5>Developed By</h5>
    <h5>CSAM GROUP-1 Winter 2023</h5>
    <h6>Dayanand-C0855076</h6>
    <h6>Deepesh-C0853594</h6>
    <h6>Madhubabu-C0845570</h6>
    <h6>Saiteja-C0854460</h6>
    <h6>Sathakarni-C0855527</h6>
    <h6>Swetha-C0852506</h6>

</div>